<h1>About</h1>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h4>CHESS FUSION is a chess application built on Ruby on Rails as part of the final capstone for the Firehose Project. The application was created through the efforts of four students under the direction of Michael C.
  </h4>
  <br />
  <h4>CHESS FUSION was built using the following tools and technologies:</h4>
  <div class="row text-center">
    <div class="col-xs-6 col-sm-4">
      <h4>Ruby on Rails</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h4>Github</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h4>Travis</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h4>Pusher</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h4>Rubocop</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h4>Code Climate</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h4>Rspec</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h4>Factory Girl</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h4>Heroku</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h4>Trello</h4>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h4>Slack</h4>
    </div>             
  </div>
  <br />
  <div class="row text-center">
    <h2>CHESS FUSION Team</h2>
    <%= link_to 'https://github.com/mscoutermarsh' do %>
      <h4>Mike C.<h4>
      <%= image_tag '1473562299_social_media_logo_github.png' %>
    <% end %>
  </div> 
  <div class="row text-center">
    <div class="col-xs-6 col-sm-3">
    <%= link_to 'https://github.com/Cort98' do %>
      <h4>Cort F.<h4>
      <%= image_tag '1473562299_social_media_logo_github.png' %>
    <% end %>
    </div>
    <div class="col-xs-6 col-sm-3">
    <%= link_to 'https://github.com/adrianproctor' do %>
      <h4>Adrian P.<h4>
      <%= image_tag '1473562299_social_media_logo_github.png' %>
    <% end %>
    </div> 
    <div class="col-xs-6 col-sm-3">
    <%= link_to 'https://github.com/tohyung85' do %>
      <h4>Josh T.<h4>
      <%= image_tag '1473562299_social_media_logo_github.png' %>
    <% end %>
    </div> 
    <div class="col-xs-6 col-sm-3">
    <%= link_to 'https://github.com/jy300x2' do %>
      <h4>Jon Y.<h4>
      <%= image_tag '1473562299_social_media_logo_github.png' %>
    <% end %>
    </div>  
  </div>
</div>
<div class="clear"></div>

<div id="footer">
  <div class="container">
    <div class="col-xs-12 col-sm-3 center-footer">
      <h4><%= link_to "CHESS FUSION", root_path %></h4>
    </div>
    <div class="col-xs-12 col-sm-3 center-footer">
      <h4><a href="https://www.chess.com/learn-how-to-play-chess">How to play chess</h4>
    </div>
    <div class="col-xs-12 col-sm-3 center-footer">
      <h4><%= link_to 'About', static_pages_about_path %></h4>
    </div>
    <div class="col-xs-12 col-sm-3 social center-footer">
      <%= link_to 'https://github.com/Team-Chess-Fusion/chess-fusion' do %>
        <%= image_tag 'github.png' %>
      <% end %>
    </div>
  </div>
</div>