<h1>Hey guys, lets get this party started!</h1>
<img src='https://media.giphy.com/media/BuHELiSSKeP4c/giphy.gif'>
<button class='btn btn-primary' id="test-button">Hi there</button>

<script>
$(function(){
  $('#test-button').click(function(){
    alert('Chess Fusion is gonna be awesome!');
  })
});
</script>

<%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary'%>
<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary'%>
<%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-primary'%>
<%= link_to 'Create new game', new_game_path, class: 'btn btn-primary' %>

<h1>Available Games!</h1>
<h3 class='text-center'>Join One Now!</h3>

<div class='game-index-div'>
  <% @available_games.each do |game| %>

    <div class='game-box col-xs-3 col-xs-offset-1'>
      <h1><%= game.name %></h1>
      <br/>
      <% if game.white_player.present? %>
        <p>White Player: <%= game.white_player.email %></p>
      <% else %>
        <%= button_to 'Join as white player', game_path(game), method: :patch, class: 'btn btn-primary join-button'%>
      <% end %>
      <% if game.black_player.present? %>
        <p>Black Player: <%= game.black_player.email %></p>
      <% else %>
        <%= button_to 'Join as black player', game_path(game), method: :patch, class: 'btn btn-primary join-button'%>
      <% end %>
    </div>

  <% end %>
</div>

<div class="clear"></div>

<div class='game-index-div'>
  <h1>Your Active Games</h1>
  <% if user_signed_in? %>
    <%current_user.games.each do |game| %>
      <% if game.active? %>
      <div class='game-box col-xs-3 col-xs-offset-1'>
        <h1><%= game.name %></h1>
        <br/>
        <% if game.white_player.present? %>
          <p>White Player: <%= game.white_player.email %></p>
        <% end %>
        <% if game.black_player.present? %>
          <p>Black Player: <%= game.black_player.email %></p>
        <% end %>
        <% unless @available_games.include?(game) %>
          <%= link_to 'Join Game', game_path(game), class: 'btn btn-primary join-button'%>
        <% end %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
