<h5 class="check-status"></h5>
<h5 class="stalemate-status"></h5>
<h5 class="checkmate-status"></h5>

<h1>Game: <%= @game.name %></h1>
<% if @game.active %>
  <h5>Game status: <span id="active-status">Active<span></h5>
<% else %>
  <h5> Game status: <span id="inactive-status">Inactive</span><h5>
<% end %>

<h5 class="move-turn"><%= @game.current_move_color %> to move</h5>

<% if @game.forfeit %>
  <p>Game forfeited!</p>
  <p><%= current_user.email %> forfeits the game</p>
  <% if @game.winner_id == @game.white_player_id %>
    <p>The white player has won!</p>
  <% else %>
    <p>The black player has won!</p>
  <% end %>
<% end %>

<div class="gravatar">
  <%= image_tag @game.black_player.gravatar_url %>
  <h4>Black Player: <%= @game.black_player.email %></h4>
  <% if @game.active && current_user == @game.black_player %>
    <%= simple_form_for @game, url: forfeit_game_path(@game), method: :put do |f| %>
      <%= f.button :submit, 'Forfeit', class: "btn btn-danger btn-sm" %>
    <% end %>  
  <% end %> 
</div>

<div class="clear"></div>
<table>
  <% rownum = [7, 6, 5, 4, 3, 2, 1, 0] %>
  <% rownum.each do |row| %>
    <tr>
      <% (0..7).each do |col| %>
        <td data-row="<%= row %>" data-column="<%= col %>">
          <%= render_piece(row, col) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="clear"></div>

<div class="gravatar">
  <%= image_tag @game.white_player.gravatar_url %>
  <h4>White Player: <%= @game.white_player.email %></h4>
  <% if @game.active && current_user == @game.white_player %>
    <%= simple_form_for @game, url: forfeit_game_path(@game), method: :put do |f| %>
      <%= f.button :submit, 'Forfeit', class: "btn btn-danger btn-sm" %>
    <% end %>  
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-pieceid='#'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upgrade Pawn to...</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="change-piece-button btn btn-primary" data-dismiss="modal" data-type="Queen">Queen</button>
        <button type="button" class="change-piece-button btn btn-primary" data-dismiss="modal" data-type="Bishop">Bishop</button>
        <button type="button" class="change-piece-button btn btn-primary" data-dismiss="modal" data-type="Rook">Rook</button>
        <button type="button" class="change-piece-button btn btn-primary" data-dismiss="modal" data-type="Knight">Knight</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
